# Miscellaneous files
.DS_Store
._*
*~
*.log
*.tgz

# C++-specific files
cplusplus/build/

# Rust-specific files
rust/target/
Cargo.lock

# Swift-specific files
.build/
.swiftpm/

# TypeScript-specific files
typescript/dist/
node_modules/
