# Miscellaneous files
.DS_Store
._*
*~
*.log
*.tgz
.cache/

# Android-specific files
.idea/
.gradle/
android/.cxx/
android/build/
local.properties
*.iml

# C++-specific files
cplusplus/build/

# Rust-specific files
rust/target/
Cargo.lock

# Swift-specific files
.build/
.swiftpm/

# TypeScript-specific files
typescript/dist/
node_modules/

# Go-specific files
go/*.exe
go/*.exe~
go/*.dll
go/*.so
go/*.dylib
go/*.test
go/*.out
go/go.work
